
  <!DOCTYPE html>
<html>
<head>
	<title>INMUNDO</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
  
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

 <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

  <script src="/js/ajax.js"></script>

</head>

<body>

<div class="header clearfix">

        <h3 class="logo"><a href="/home">INMUNDO</a></h3>
        <!-- if first== true >>> First load of this page -->
         
        <nav>
          <ul class="nav">
            {{#if user}}

              <li><a href="/videos">All Videos</a></li>
              <li><a href="/albums">Albums</a></li>
              <li><a href="/varios">Varios</a></li>
              <li><a href="/artists">Artists</a></li>

              <li role="presentation"><a class="logout" href="/users/logout">Logout</a></li>

            {{else}}            

              <li><a href="/videos">All Videos</a></li>
              <li><a href="/albums">Albums</a></li>
              <li><a href="/varios">Varios</a></li>
              <li><a href="/artists">Artists</a></li>


              <li role="presentation"><a class="login" href="/users/login">Login</a></li>
              <li role="presentation"><a class="regi" href="/users/register">Register</a></li>

            {{/if}}
          </ul>
        </nav>
         
      </div>

	<div class="container">

        <div class="wrapper clearfix">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          
          {{{body}}}
        </div>

    </div> <!-- /container -->

    <footer class="footer">
      <p>&copy; INMUNDO, Inc.</p>
    </footer>

</body>

<script>

$(document).ready(function(){ 


  $('.videos').animate({
    opacity: 1
  },3000);

});


</script>
</html>
