{{#if user}}
	
<li class="user-filter" >Your posts</li>
{{/if}}


{{#each posts}}

<div class="videos">

    <iframe src="{{this.postURL}}"></iframe>
     <li class="artist-name"><a href="/artists/{{this.postARTIST}}">{{this.postARTIST}}</a></li>

    <li><a href="/videos/{{this.postID}}">{{this.postNAME}}</a></li>

</div>
{{/each}}
