
{{#each posts}}

<div class="post-solo">

    <li class="post-title">{{this.artistNAME}}</li>

    <div class="post-izq">

    <h1>PHOTO HERE</h1>
    </div>

    <div class="post-der">
    	<p>{{{this.artistDESCRIPTION}}}</p>
    </div>

</div>
{{/each}}
