
<!-- {{#if user}}
<li class="user-filter" role="presentation"><a href="">User</a></li>
{{/if}}
 -->
<div class="all-artists">
{{#each posts}}
<div class="artists">

    <li><a href="/artists/{{this.artistNAME}}">{{this.artistNAME}}</a></li>

</div>
{{/each}}

</div>
