<h2 class="page-header"> {{username}}</h2>


<form class="video-form">

	<label>Nombre</label>
	<input type="text" name="itemn" placeholder="add new item.. "  required />
	<label>Artista</label>
	<input id="input-artist" type="text" name="itema" placeholder="add new item.. "  required />
	<label>URL</label>
	<input type="text" name="itemu" placeholder="add new item.. "  required />
	<label>Album completo?</label>
	<select id="album-check">
	  <option value="album">Album-completo</option>
	  <option value="no-album">no-Album</option>
	</select>

	<textarea id="textarea"></textarea>

	<button type="submit">Subir Video</button>

</form>


