
{{#if user}}
<li class="user-delete">Delete post</li>

<li class="user-update">Update post</li>
<span class="usuario">{{username}}</span>

{{/if}}



{{#each posts}}
<span class="post-user">{{this.postUSER}}</span>
<div class="post-solo">

	<form class="post-update-form">
		<div class="update-form">
		<label>New Name</label>
		<input type="text" name="name" value="{{this.postNAME}}" required />
		<label>New Text</label>
		
		<textarea id="textarea">{{this.postDESCRIPTION}}</textarea>

		<button class="update-button" type="submit">Update Post</button>
		</div>
	</form>

    <li class="post-title">{{this.postNAME}}</li>

    <div class="post-izq">

    <iframe src="{{this.postURL}}"></iframe>
   
    	<p>{{{this.postDESCRIPTION}}}</p>
    </div>

</div>
{{/each}}
