
{{#each posts}}
<div class="videos">
<!-- <p>so whats the id again?: {{this.postID}}</p> -->
    <iframe src="{{this.postURL}}"></iframe>

    <li class="artist-name"><a href="/artists/{{this.postARTIST}}">{{this.postARTIST}}</a></li>
    <li><a href="/videos/{{this.postID}}">{{this.postNAME}}</a></li>
</div>
{{/each}}



<script>

$(document).ready(function(){ 

  $('.videos').animate({
    opacity: 1
  },1000);

});


</script>
