@charset "UTF-8";


@font-face {
    font-family: 'moon-flower';
    src:url('../fonts/moon-flower/moon_flower-webfont.eot');
    src:url('../fonts/moon-flower/moon_flower-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/moon-flower/moon_flower-webfont.svg#tunivers_65_bold') format('svg'),
        url('../fonts/moon-flower/moon_flower-webfont.woff') format('woff'),
        url('../fonts/moon-flower/moon_flower-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'riot';
    src:url('../fonts/riot/riot-webfont.eot');
    src:url('../fonts/riot/riot-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/riot/riot-webfont.svg#tunivers_65_bold') format('svg'),
        url('../fonts/riot/riot-webfont.woff') format('woff'),
        url('../fonts/riot/riot-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'artstudio';
    src:url('../fonts/artstudio/art_studio-webfont.eot');
    src:url('../fonts/artstudio/art_studio-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/artstudio/art_studio-webfont.svg#tunivers_65_bold') format('svg'),
        url('../fonts/artstudio/art_studio-webfont.woff') format('woff'),
        url('../fonts/artstudio/art_studio-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



html, body {
  margin:0; 
  padding:0; 
  position: relative;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  height: 100px;
  background-color: #000;
}


.header-stick {
  opacity:1;
  height: 60px;
  border-bottom:none;
  position: fixed;
  top:0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #000;
}

.header-stick .nav li a {
  color:#fff;
  padding: 20px 0;
  font-size: 18px;
}
.header-stick .logo {
  padding: 15px 0;
}


.header-stick .logo a {
  font-size:28px;
}



/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.logo {
  width: 20%;
  float: left;
  font-size: 30px;
  margin-left: 10%;
  padding: 20px 0;
}

.logo a {
  color:#fff;
  text-decoration: none;
  font-family: 'artstudio';
  font-size:50px;
}

.nav {
  display: block;
  width: 70%;
  margin-left: 30%;
}

.nav li {
  float: left;
  width: 15%;
  text-align: center;
  color: #000;
}

.nav li a {
  padding: 37px 0;
  width: 100%;
  line-height: 100%;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  color:#fff;
  font-family: 'riot';
}

.nav li a:hover .nav li {
  background-color: #222;
  cursor: pointer;

}

.nav li a.login {
  z-index: 100;
}
.nav li a.regi, .nav li a.login {
  color:#6c4596;
  margin-left:65%;
}

.nav li a.logout {
  color:#6c4596;
  margin-left:165%;
}

.login {
  width: 40%;
  margin:0 auto;
}
.container {
   position: relative;
  padding:0;
  width:100%;
  display: block;
  background: 
  linear-gradient(63deg, #f9f9f9 23%, transparent 23%) 7px 0, 
  linear-gradient(63deg, transparent 74%, #f9f9f9 78%), 
  linear-gradient(63deg, transparent 34%, #f9f9f9 38%, #f9f9f9 58%, transparent 62%), 
  #fff;
  background-size: 16px 48px;
  overflow-x:hidden;
}

.user-filter{
  position: fixed;
  right: -136px;
  padding:10px;
  padding-left: 44px;
  padding-right: 4px;
  background-color: purple;
  color:white;
  border-radius:2%;
  /* back image*/
}

.user-delete, .user-update{
  width: 210px;
  position: fixed;
  right: 0;
  top:120px;
  padding:10px;
  padding-left: 4px;
  padding-right: 4px;
  text-indent: 4px;
  background-color: purple;
  color:white;
  border-radius:2%;
  display: none;
  /* back image*/
}

.user-update {
  top:200px;
}

.user-filter:hover, .user-delete:hover, .user-update:hover{
  cursor: pointer;
}

.usuario, .post-user {
  display: none;
}


.post-solo form {
  display: none;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.post-solo form input, .post-solo form textarea{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom:30px;
}

.post-solo form textarea {
  min-height: 240px;
  min-width: 70%;
}


.post-solo form button {
  margin-left: 15%;
}

.post-solo form label {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%; 
}

.update-form {
  width: 60%;
  margin-left: 20%;
  margin-top:40px;
}

.wrapper {
  position: relative;
  width:70%;
  display: block;
  margin:30px auto 0 auto;
  padding-bottom:40px;
  list-style:none;
}

.wrapper p {
  white-space: pre-wrap;
}

.wrapper li {
  font-family: 'moon-flower';
  font-weight: bold;
  font-size: 3em;
}

.wrapper li a {
  text-decoration: none;
  text-transform: lowercase;
  color:#555;
}

.wrapper li a:hover{
  color: #000;
  cursor: pointer;
}

.wrapper li.artist-name {
  font-size: 1.7em;
  margin-top:20px;
}

.video-form {
  width: 50%;
  margin:0 auto;
}

.video-form input {
  width: 70%;
  margin-bottom:20px;
  margin-left:15%;
  text-indent: 10px;
}
.video-form label {
  width: 100%;
  margin-left:15%;
}
.video-form textarea {
  width: 70%;
  margin-top:20px;
  margin-bottom:30px;
  margin-left:15%;
  min-height: 200px;
}

.video-form select, .video-form button {
  margin-left:15%;
}

.video-form button {
  margin-bottom:20px;
}

.videos {
  display: block;
  opacity: 0;
  float: left;
  margin: 40px 3% 40px 3%;
  width: 27%;
}

.videos iframe {
  width: 100%;
  height: 200px;
  -webkit-box-shadow: 3px 4px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 7px 0px rgba(0,0,0,0.75);
  border-radius:2px;
}

iframe {
  border:none;

}

.post-izq, .post-der {
  width: 100%;
}

.post-izq p {
  padding:3%;
  font-size: 1.5em;
}

.post-title {
  margin-left:3%;
  margin-bottom:10px;
}

.post-izq iframe {
  float: left;
  width: 50%;
  margin-top:3%;
  margin-left:3%;
  margin-right: 3%;
  margin-bottom: 2%;
  height: auto;
  -webkit-box-shadow: 3px 4px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 7px 0px rgba(0,0,0,0.75);
  border-radius:2px;
}

.all-artists {
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}

.artists{
  margin-top:15px;
}



/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  margin:0;
  height: 60px;
}

/* Customize container */
@media (min-width: 768px) {

}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}




@media screen and (max-width: 1380px) {
  
.videos {
  display: block;
  opacity: 0;
  float: left;
  margin: 40px 2.5% 40px 2.5%;
  width: 45%;
}

}


@media screen and (max-width: 1024px) {
  
.post-izq iframe {
  float: left;
  width: 90%;
  margin-left:5%;
  margin-right: 5%;
  margin-bottom: 7%;

}
}



@media screen and (max-width: 780px) {
  
.videos {
  display: block;
  opacity: 0;
  float: left;
  margin: 40px 10% 40px 10%;
  width: 90%;
}

}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

}

.page-header{
  margin-top:0;
}

footer{
  margin-top:40px;
}